target/
.idea/
.vscode/
logs/
log/
*.DS_Store
*.iml
*.bin
*.log
*.tar.gz
*.lib
assembly/runtime/*
**/dist/
*.umi/
/assembly/deploy
/runtime
**/.flattened-pom.xml
chm_db/
chm_db_cw/
__pycache__/
!assembly/build.xml
assembly/build/*
chat/core/src/main/python/llm/chm_db/*
.env
dict/*
/dict