.leftAvatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-right: 6px;
  margin-right: 6px;
  color: var(--primary);
  padding: 3px;
  font-size: 25px;
  background-color: var(--sub-primary-1);
  border-radius: 50%;
}
